/* common css start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a,
a:focus,
a:hover {
  text-decoration: none; }

ol,
ul {
  list-style: none; }

img {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin-top: 0;
  margin-bottom: 0; }

body {
  font-size: 16px;
  color: #505050;
  line-height: 20px;
  font-family: "Poppins", serif;
  font-weight: 400; }

/* common css end */
header {
  background: #81007f;
  color: white;
  padding: 10px 0px; }
  header a {
    color: white; }
