/* common css start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a,
a:focus,
a:hover {
  text-decoration: none; }

ol,
ul {
  list-style: none; }

img {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin-top: 0;
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", serif; }

body {
  font-size: 16px;
  color: #505050;
  line-height: 20px;
  font-family: "Poppins", serif;
  font-weight: 400;
  background: #f3f5f6; }

.common_card_header {
  background: transparent;
  position: relative; }
  .common_card_header h2 {
    font-size: 20px;
    color: #232323;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Montserrat", serif; }
  .common_card_header a {
    color: #e31577;
    font-size: 16px; }
  .common_card_header::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 15%;
    background: #e31577;
    left: 15px;
    bottom: -1px; }

.cbtn {
  font-size: 14px;
  background: white;
  color: #e31577;
  border: 1px solid #e31577;
  -webkit-transition: all linear 0.4s 0s;
  -moz-transition: all linear 0.4s 0s;
  -o-transition: all linear 0.4s 0s;
  transition: all linear 0.4s 0s; }
  .cbtn:hover {
    color: white;
    background: #e31577;
    -webkit-transition: all linear 0.4s 0s;
    -moz-transition: all linear 0.4s 0s;
    -o-transition: all linear 0.4s 0s;
    transition: all linear 0.4s 0s; }

.product_card {
  padding: 10px;
  -webkit-transition: all linear 0.4s 0s;
  -moz-transition: all linear 0.4s 0s;
  -o-transition: all linear 0.4s 0s;
  transition: all linear 0.4s 0s; }
  .product_card::after {
    content: ''; }
  .product_card img {
    width: 100%;
    -webkit-transition: all linear 0.4s 0s;
    -moz-transition: all linear 0.4s 0s;
    -o-transition: all linear 0.4s 0s;
    transition: all linear 0.4s 0s; }
  .product_card .product_tittle {
    padding: 10px; }
    .product_card .product_tittle p {
      font-size: 16px;
      color: #232323;
      overflow: hidden; }
      .product_card .product_tittle p:hover {
        color: #e31577; }
    .product_card .product_tittle .price {
      color: #e31577;
      padding-top: 5px; }
      .product_card .product_tittle .price del {
        color: #969696;
        font-size: 14px; }
  .product_card:hover {
    box-shadow: 0px 0px 15px #00000045; }
    .product_card:hover img {
      transform: scale(1.05); }

/* common css end */
/* header css start */
header {
  background: #e31577;
  color: white;
  padding: 10px 0px; }
  header a {
    color: white; }

.breadcrumb {
  font-size: 18px;
  color: #505050;
  margin: 0px;
  padding: 15px 0px; }
  .breadcrumb a {
    color: #e31577; }

#search_bar {
  padding: 5px 0px;
  box-shadow: 0px 0px 15px #00000030;
  background: white; }
  #search_bar img {
    height: 70px; }
  #search_bar form {
    width: 60%;
    position: relative; }
    #search_bar form input {
      width: 100%;
      color: #505050;
      border-radius: 5px;
      line-height: 25px;
      border: 1px solid #e31577;
      padding: 10px; }
    #search_bar form button {
      position: absolute;
      top: 50%;
      right: 0px;
      font-size: 20px;
      transform: translateY(-50%);
      height: 40px;
      width: 65px;
      background: transparent;
      border: 0px;
      text-align: center;
      color: #505050; }
  #search_bar ul li {
    padding-left: 15px; }
    #search_bar ul li a {
      color: #232323; }

.navbar {
  padding: 15px 0px; }
  .navbar .dropdown .btn {
    background: #e31577;
    color: white;
    width: 100%;
    text-align: left; }
    .navbar .dropdown .btn:hover {
      color: rgba(255, 255, 255, 0.8); }
    .navbar .dropdown .btn i {
      font-size: 18px;
      padding-right: 10px; }
  .navbar .navbar-nav {
    padding-left: 20px; }
    .navbar .navbar-nav .nav-item {
      padding: 0px 15px; }
      .navbar .navbar-nav .nav-item .nav-link {
        color: #505050;
        font-size: 18px; }
      .navbar .navbar-nav .nav-item .active {
        color: #e31577; }

.common-banner img {
  height: 300px;
  width: 100%; }

#category {
  padding: 20px 0px; }
  #category .category_slick {
    margin: 0px -10px; }
    #category .category_slick .cargory_card {
      margin: 0px 10px;
      text-align: center;
      border: 0px !important; }
      #category .category_slick .cargory_card img {
        border-radius: 30px;
        border: 3px solid #e31577;
        width: 100%; }
      #category .category_slick .cargory_card a {
        font-size: 18px;
        padding: 10px;
        display: inline-block;
        color: #232323; }
        #category .category_slick .cargory_card a:hover {
          color: #e31577; }

#timer {
  font-family: sans-serif;
  color: #e31577;
  display: inline-block;
  text-align: center;
  font-weight: 100; }
  #timer div {
    padding: 10px;
    border-radius: 3px;
    background: #e31577;
    display: inline-block; }
    #timer div span {
      padding: 15px;
      border-radius: 3px;
      font-size: 30px;
      font-weight: 700;
      background: white;
      display: inline-block; }
    #timer div .smalltext {
      padding-top: 5px;
      font-size: 20px;
      color: white; }

#flash_sale_product .see_all {
  padding-bottom: 25px; }
  #flash_sale_product .see_all a {
    text-align: center;
    color: #e31577;
    display: inline-block;
    padding: 0px 20px;
    line-height: 30px;
    border: 1px solid #e31577;
    border-radius: 25px;
    -webkit-transition: all linear 0.4s 0s;
    -moz-transition: all linear 0.4s 0s;
    -o-transition: all linear 0.4s 0s;
    transition: all linear 0.4s 0s; }
    #flash_sale_product .see_all a:hover {
      background: #e31577;
      color: white;
      -webkit-transition: all linear 0.4s 0s;
      -moz-transition: all linear 0.4s 0s;
      -o-transition: all linear 0.4s 0s;
      transition: all linear 0.4s 0s; }

#popular_product {
  padding: 20px 0px; }
  #popular_product .pro_banner {
    flex-basis: 20%;
    height: 100%; }
    #popular_product .pro_banner img {
      width: 100%;
      height: 100%; }
  #popular_product .popular_slick {
    margin: 0px -10px;
    width: 100%; }
    #popular_product .popular_slick .slick-slide {
      margin: 0px 10px !important; }

footer {
  background: white;
  padding-top: 20px; }
  footer h3 {
    font-size: 20px;
    color: #232323;
    font-family: "Montserrat", serif;
    font-weight: 600;
    text-transform: capitalize; }
  footer p {
    color: #505050;
    line-height: 26px;
    padding: 5px 0px; }
  footer .social-icons {
    display: flex;
    justify-content: left;
    padding: 0px;
    margin-top: 15px; }
    footer .social-icons li {
      padding-right: 15px; }
      footer .social-icons li a {
        font-size: 18px;
        color: #e31577;
        display: inline-block;
        width: 35px;
        line-height: 35px;
        border: 1px solid #e31577;
        border-radius: 50%;
        text-align: center;
        -webkit-transition: all linear 0.3s 0s;
        -moz-transition: all linear 0.3s 0s;
        -o-transition: all linear 0.3s 0s;
        transition: all linear 0.3s 0s; }
        footer .social-icons li a:hover {
          -webkit-transition: all linear 0.3s 0s;
          -moz-transition: all linear 0.3s 0s;
          -o-transition: all linear 0.3s 0s;
          transition: all linear 0.3s 0s;
          color: white;
          background: #e31577; }
  footer .use_link li {
    padding: 5px 0px; }
    footer .use_link li a {
      font-size: 16px;
      color: #505050;
      line-height: 28px;
      -webkit-transition: all linear 0.3s 0s;
      -moz-transition: all linear 0.3s 0s;
      -o-transition: all linear 0.3s 0s;
      transition: all linear 0.3s 0s; }
      footer .use_link li a:hover {
        -webkit-transition: all linear 0.3s 0s;
        -moz-transition: all linear 0.3s 0s;
        -o-transition: all linear 0.3s 0s;
        transition: all linear 0.3s 0s;
        color: #e31577; }
  footer .payment-methods img {
    width: 100%; }
  footer .copyright {
    text-align: center;
    background: black;
    margin-top: 20px;
    padding: 12px 0px; }
    footer .copyright p {
      color: white;
      opacity: 0.60;
      font-size: 14px; }

#shop_page .catelog_category .list-group-item {
  padding: 10px 10px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0; }
  #shop_page .catelog_category .list-group-item a {
    font-size: 16px;
    color: #505050;
    font-weight: 400; }
    #shop_page .catelog_category .list-group-item a i {
      font-size: 14px;
      color: gray;
      padding-right: 5px; }
  #shop_page .catelog_category .list-group-item .badge {
    color: gray;
    font-size: 12px;
    font-weight: 400; }

#shop_page .page-link {
  color: #e31577;
  border: 1px solid #e31577; }

#product_details .product_main_detaits {
  color: #505050;
  background: white;
  padding: 15px;
  /* Main text uses this styling and color */ }
  #product_details .product_main_detaits p {
    padding-bottom: 10px; }
    #product_details .product_main_detaits p strong {
      color: #515151;
      font-weight: 600; }
  #product_details .product_main_detaits .mini-preview img {
    border: 1px solid #505050;
    border: 1px solid #e31577;
    margin-bottom: 8px; }
  #product_details .product_main_detaits h3 {
    color: #232323;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px; }
  #product_details .product_main_detaits .price {
    font-weight: bold;
    font-size: 20px;
    color: #e31577; }
    #product_details .product_main_detaits .price del {
      font-weight: normal;
      font-size: 20px; }
  #product_details .product_main_detaits .brief-description {
    /* color: $col-text; */
    color: #232323; }
  #product_details .product_main_detaits .select-colors .color {
    display: inline-block;
    border: 1px solid grey;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: black; }
    #product_details .product_main_detaits .select-colors .color.red {
      background-color: red; }
    #product_details .product_main_detaits .select-colors .color.silver {
      background-color: silver; }
    #product_details .product_main_detaits .select-colors .color.black {
      background-color: black; }
  #product_details .product_main_detaits .addBtn {
    background-color: #e31577;
    color: white;
    text-transform: uppercase; }
    #product_details .product_main_detaits .addBtn:hover {
      background-color: #b4115f;
      color: white; }
  #product_details .product_main_detaits .related-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    /* color: $col-h; */ }
  #product_details .product_main_detaits .related-title,
  #product_details .product_main_detaits .related-price {
    color: #232323;
    font-weight: bold; }
  #product_details .product_main_detaits .additional-details .nav-link {
    border: none;
    color: #232323; }
    #product_details .product_main_detaits .additional-details .nav-link.active {
      background-color: white;
      color: #232323;
      border: none;
      border-bottom: 4px solid #e31577; }

#product_details .product-image {
  overflow: hidden; }
  #product_details .product-image .slider-for {
    height: 100%; }
    #product_details .product-image .slider-for .slid_img {
      height: 450px; }
      #product_details .product-image .slider-for .slid_img .slider_for_img {
        width: 100% !important;
        height: 100%; }
  #product_details .product-image .slider-nav {
    margin-top: 10px;
    height: 200px; }
    #product_details .product-image .slider-nav .slick-list {
      height: 100%; }
      #product_details .product-image .slider-nav .slick-list .slick-track {
        height: 100%; }
        #product_details .product-image .slider-nav .slick-list .slick-track .slick-slide {
          height: 100%; }
          #product_details .product-image .slider-nav .slick-list .slick-track .slick-slide img {
            width: 100%;
            cursor: pointer;
            transition: 0.3s all ease;
            border: 1px solid #ccc;
            height: 100%; }
          #product_details .product-image .slider-nav .slick-list .slick-track .slick-slide .slick-current img {
            border: 2px solid #e31577; }
          #product_details .product-image .slider-nav .slick-list .slick-track .slick-slide img:hover {
            opacity: 0.7; }
  #product_details .product-image .slick-dots {
    position: absolute;
    content: ' ';
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }
    #product_details .product-image .slick-dots li {
      display: inline-block;
      font-size: 0px;
      height: 35px; }

#contact h2 {
  color: #232323;
  font-weight: 600;
  padding: 15px 0px; }
