

  
  // search box css start
  #search_bar{
    padding: 5px 0px;
    box-shadow: 0px 0px 15px #00000030;
    background: $col-white;
    img{
      height: 70px;
    }
    form{
      width: 60%;
      position: relative;
      input{
        width: 100%;
        color: $col-text;
        border-radius: 5px;
        line-height: 25px;
        border: 1px solid $col-primary;
        padding: 10px;
        
      }
      button{
          position: absolute;
          top: 50%;
          right: 0px;
          font-size: 20px;
          transform: translateY(-50%);
          height: 40px;
          width: 65px;
          background: transparent;
          border: 0px;
          text-align: center;
          color: $col-text;
        }
        
    }
    ul{
      li{
        padding-left:15px;
        a{
          color: $col-h;
          
        }
      }
    }
  }
  // search box css end

  // navbar css start
  .navbar {
    padding: 15px 0px;
    
    .dropdown{
      .btn{
        background: $col-primary;
        color: $col-white;
        width: 100%;
        text-align: left;
        &:hover{
          color: rgba(255, 255, 255, 0.8);
        }
        i{
          font-size: 18px;
          padding-right: 10px;
        }
      }
    }
    .navbar-nav{
      padding-left: 20px;
      .nav-item{
        padding: 0px 15px;
        .nav-link{
          color: $col-text;
          font-size: 18px;
        }
        .active{
          color: $col-primary;
        }
      }
    }
  }
  // navbar css end
.common-banner{
  img{
    height: 300px;
    width: 100%;
  }
}


  // category css end
  #category{
  padding: 20px 0px; 
  .category_slick{
    margin: 0px -10px;
    .cargory_card{
      margin: 0px 10px;
      text-align: center;
      border: 0px !important;
      img{
        border-radius: 30px;
        border: 3px solid $col-primary;
        width: 100%;
      }
      a{
        font-size: 18px;
        padding: 10px;
        display: inline-block;
        color: $col-h;
        &:hover{
          color: $col-primary;
        }
      }
    }
  }
  }

  #timer {
    font-family: sans-serif;
    color:$col-primary;
    display: inline-block;
    text-align: center;
    font-weight: 100;
    div {
      padding: 10px;
      border-radius: 3px;
      background: $col-primary;
      display: inline-block;
      span {
        padding: 15px;
        border-radius: 3px;
        font-size: 30px;
        font-weight: 700;
        background: white;
        display: inline-block;
      }
      .smalltext {
        padding-top: 5px;
        font-size: 20px;
        color: white;
      }
    }
  }

  // category css end
#flash_sale_product{
  .see_all{
    padding-bottom: 25px;
    a{
      text-align: center;
    color: $col-primary;
    display: inline-block;
    padding: 0px 20px;
    line-height: 30px;
    border: 1px solid $col-primary;
    border-radius: 25px;
    @include trans(0.4s,0s);
    &:hover{
      background: $col-primary;
      color: $col-white;
      @include trans(0.4s,0s);
    }
    }
  }
 


  
}
   // Popular Product css start
  #popular_product{
    padding: 20px 0px; 
  .pro_banner{
    flex-basis: 20%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .popular_slick{
    margin: 0px -10px;
    width: 100%;
    .slick-slide{
      margin:0px 10px !important;
    }

  }
  }
   // Popular Product css end




  //  footer start here

  footer{
    background: white;
    padding-top: 20px;
    h3{
      font-size: 20px;
      color: $col-h;
      font-family: "Montserrat", serif;
      font-weight: 600;
      text-transform: capitalize;
    }
    p{
      color: $col-text;
      line-height: 26px;
      padding: 5px 0px;
    }
    .social-icons{
      display: flex;
      justify-content: left;
      padding: 0px;
      margin-top: 15px;
      li{
        padding-right: 15px;
        a{
          font-size: 18px;
          color: $col-primary;
          display: inline-block;
          width: 35px;
          line-height: 35px;
          border: 1px solid $col-primary;
          border-radius: 50%;
          text-align: center;
          @include trans(0.3s,0s);
          &:hover{
            @include trans(0.3s,0s);
            color: $col-white;
            background: $col-primary;
          }
        }
      }
    }
    .use_link{
      li{
        padding: 5px 0px;
        a{
          font-size: 16px;
          color: $col-text;
          line-height: 28px;
          @include trans(0.3s,0s);
          &:hover{
            @include trans(0.3s,0s);
            color: $col-primary
          }
        }
      }
    }
    .payment-methods{
      img{
        width: 100%;
      }
    }
    .copyright{
      text-align: center;
      
      background: $col-black;
      margin-top: 20px;
      padding: 12px 0px;
      p{
        color: $col-white;
        opacity: 0.60;
        font-size: 14px;
      }
    }
  }

  // shop page css start here
  #shop_page{
    .catelog_category{
      .list-group-item{
        padding: 10px 10px;
        border-left: 0px;
        border-right: 0px;
        border-top: 0;
        a{
          font-size: 16px;
          color: $col-text;
          font-weight: 400;
          i{
            font-size: 14px;
            color: gray;
            padding-right: 5px;
          }
        }
        .badge{
          color: gray;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    .page-link {
      color: $col-primary;
      border: 1px solid $col-primary;
  }
  }


  #product_details{
    .product_main_detaits {
      color: $col-text;
    background: white;
    padding: 15px;
      /* Main text uses this styling and color */
      p{
        padding-bottom: 10px;
        strong{
          color: $col-gray;
          font-weight: 600;
        }
      }
      .mini-preview img {
        border: 1px solid $col-text;
        border: 1px solid $col-primary;
        margin-bottom: 8px;
      }
    
      h3{
        color: $col-h;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }
    
      .price {
        font-weight: bold;
        font-size: 20px;
        color: $col-primary;
        del{
          font-weight: normal;
        font-size: 20px;
        }
      }
    
      .brief-description {
        /* color: $col-text; */
        color: $col-h;
      }
    
      .select-colors {
        .color {
          display: inline-block;
          border: 1px solid grey;
          height: 35px;
          width: 35px;
          border-radius: 50%;
          margin-right: 5px;
          background-color: $col-black;
    
          &.red {
            background-color: red;
          }
    
          &.silver {
            background-color: silver;
          }
    
          &.black {
            background-color: $col-black;
          }
        }
      }
    
      .addBtn {
        background-color: $col-primary;
        color: $col-white;
        text-transform: uppercase;
    
        &:hover {
          background-color: darken($col-primary, 10%); // Darkens primary color on hover
          color: $col-white;
        }
      }
    
      .related-heading {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        /* color: $col-h; */
      }
    
      .related-title,
      .related-price {
        color: $col-h;
        font-weight: bold;
      }
    
      .additional-details {
        .nav-link {
          border: none;
          color: $col-h;
    
          &.active {
            background-color: $col-white;
            color: $col-h;
            border: none;
            border-bottom: 4px solid $col-primary;
          }
        }
      }
    }
    .product-image {
      overflow: hidden;
      .slider-for {
        height: 100%;
        .slid_img{
          height: 450px;
          .slider_for_img{
            width: 100% !important; 
            height: 100%;
          }
        }
      }
    
      .slider-nav {
        margin-top: 10px;
        height: 200px;
        .slick-list{
          height: 100%;
          .slick-track{
            height: 100%;
            .slick-slide {
              height: 100%;
              img {
                width: 100%; 
                cursor: pointer;
                transition: 0.3s all ease;
                border: 1px solid #ccc;
                height: 100%;
              }
        
              .slick-current img {
                border: 2px solid $col-primary;  // Highlight the current thumbnail
              }
              img:hover {
                opacity: 0.7;
              }
            }
          }
          
        }
        
      }
      .slick-dots{
        position: absolute;
        content: ' ';
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        li{
          display: inline-block;
          font-size: 0px;
          height:35px ;
        }
      }
    }
    
  }
 
  // contact page
  #contact{
   h2{
    color: $col-h;
    font-weight: 600;
    padding: 15px 0px;
   }
  }